@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #091747;
}

/* Change background color and text color of tooltips */
div[data-testid="stTooltipContent"] {
    background-color: #ffffff !important; /* Custom background */
    color: black !important; /* Text color */
    border-radius: 8px !important; /* Rounded corners */
    padding: 8px 12px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3) !important; /* Optional shadow */
}

/* Change the font size of st.metric() Value*/
div[data-testid="stMetricValue"] {
    font-size: 23px !important;  /* Adjust size */
    /* font-weight: bold !important; */ /* Make it bold */
    /* color: #e63946 !important; */ /* Optional: Change color */
}

/* Change the font size of st.Expander() Title */
div[data-testid="stExpander"] details summary p{
    font-size: 1.2rem;
}

/* div[data-testid="stCheckbox"] label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    text-align: left;
    align-items: left;
    flex-grow: 1;
    gap: 10px; 
    white-space: nowrap; 
    width: 100%;
    margin: 0px !important; 
    padding: 0px !important; 
} */
/* div[data-testid="stCheckbox"] {
    display: flex;
    justify-content: flex-start !important; 
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
} */

/* Force label to fully align to the left */
div[data-testid="stCheckbox"] label {
    flex-grow: 1; /* Make label take up all available space */
    text-align: left !important;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    padding: 0px !important;
    margin: 0px !important;
    width: auto !important;
    white-space: nowrap; /* Prevents label from wrapping */
}
div[data-testid="stCheckbox"] input[type="checkbox"] {
    margin-left: auto !important; /* Forces checkbox to the far right */
}
div[data-testid="stMetric"] > label,
div[data-testid="stSelectbox"] label,
div[data-testid="stSlider"] label,
div[data-testid="stCheckbox"] label {
    font-size: 18px !important;  /* Adjust font size */
    font-weight: bold !important;  /* Make labels bold */
    color: #333333 !important;  /* Dark gray color */
    text-align: left !important;  /* Align text to the left */
    padding: 2px 0px !important;  /* Adjust spacing */
    margin: 0px !important;  /* Remove extra margins */
}


div[data-testid="stSelectbox"] label
{
    font-size: 1px !important;  /* Adjust font size */
    font-weight: bold !important;  /* Make labels bold */
}
